@{
    ViewData["Title"] = "Početna stranica";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli na aplikaciju za recepte</h1>
    <p> <img width="962" height="620" src="~/slika/pancake2.jpg" />  </p>

</div>
